# User-specific files
*.suo
*.user
*.sln.docstates

# Bower Components
bower_components

# Node Modules
node_modules

# js sample files
sample/js

# Test output
tests/*/actual

# Processed files
*.ng.ts